<div class="container" id="show">
  <div class="title-show">
    <%= @article.title %>
    <%= link_to article_path(@article),
              method: :delete,
              data: { confirm: "Are you sure?" } do %>
                <i class="fas fa-trash-alt"></i>
                <% end %>

    <%= link_to edit_article_path(@article) do %>
      <i class="fas fa-pencil-alt"></i>
      <% end %>
  </div>
    <div class="content">
      <%= @article.content %>
    </div>
</div>


