// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
ul {
list-style:none;
margin-left:0;
padding-left:0;
}
li {
margin-bottom:15px;
}

a {
font-size: 30px;
}

.container#index {
text-align: justify;
margin-left: 16%;
}
